@use "../utilities/variables";
@use "../utilities/mixins";

footer {
    background-color: variables.$beige-oscuro;
    @include mixins.flex(column, center, center);
    padding: 20px;
    color: variables.$font-color;

    p {
        margin: 0;
        font-size: 14px;
    }
}