@use "../utilities/variables";
@use "../utilities/mixins";

//          NOSOTROS          //
.nosotros{
    @include mixins.flex(column, center, center);
    padding: 20px;
    text-align: center;
    position: relative;

    p{
        margin: 20px;
        padding: 80px 100px;
        font-size: 16px;
        position: absolute;
        top: 60px;
        background-color: rgba(67, 61, 61, 0.6);
        color: white;
        opacity: 0.8;
    }
}
.carousel-habitaciones{
    width: 1000px;  
    height: 100%;     
    margin: 0 auto;   
    overflow: hidden;   

    img {
        height: 100%;
        width: 100%;
        object-fit: cover; 
    }
}
.elegirnos{
    display: grid;
    grid-template-areas: 
    "elegirnos-container nosotros-container";
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 0px;

}
.elegirnos-container{
    @include mixins.flex(column, center, center);
    padding: 20px;
    h2{
        text-align: center;
        margin: 30px;
    }
    li{
        margin: 20px 0;
    }
}

.nosotros-container{
    @include mixins.flex(column, center, center);
    text-align: center;
    padding: 20px;
    h2{
        margin: 30px;
    }
    p{
        padding: 0px 30px;
    }
}
@media (max-width: 1024px) {
    .nosotros{
        p{
            padding: 50px 60px;
            top: 130px;
        }
    }

    .elegirnos{
    display: grid;
    grid-template-areas: 
    "elegirnos-container"
    "nosotros-container";
    grid-template-columns: repeat(1, 2fr);
    margin: 50px 0px;
    }
}

@media (max-width: 512px) {
    .nosotros{
        padding: 0px;
        margin-bottom: 100px;
        margin-top: 0px;
        width: 100%;

        p{
            margin: 2px;
            padding: 42px 36px;
            font-size: 13px;
            top: 30px;
        }
    .carousel-habitaciones{
        width: 450px;  
        height: 100%;   
    }
    } 
    .elegirnos{
        margin: 0px;
    } 
}