@use "../utilities/variables";
@use "../utilities/mixins";

//               RESERVAS           //

.reservas{
    @include mixins.flex(column, center, center);
    background-color: variables.$beige-oscuro;
    padding: 80px;
    margin: 10px 250px 100px 250px;

    input{
        align-items: start;
        font-size: 18px;
        margin: 10px;
        border-radius: 5px;
        padding: 8px;
    }

    h2{
    text-align: center;
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
    }
}
.form-select{
    font-size: 18px;
    padding: 8.5px;
    margin-top: 9px;
    color: #646363;
}
.form-control{ 
    color: #646363;
}


@media (max-width: 1024px) {
        .reservas{
        margin: 20px 30px 150px 30px;
        padding: 60px;

        h2{
        font-size: 24px;
        }
    }
}


@media (max-width: 512px) {
    .reservas{
        margin: 10px 20px 100px 20px;
        padding: 40px;

        h2{
            font-size: 24px;
        }
    }
}